<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Csgo inventory</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="container">
		<div id="worth">
			Your inventory is worth : <%= value %>
		</div>

		<% if(err.length > 0 ) {%>
			<span class="error"> But there are <%= err.length %> error(s)</span>
			<table class="error-table">
				<thead>
					<td>Errors : </td>
					<td>data: </td>
				</thead>
				<% for(var i = 0;i<err.length;i++){ %>
					<tr>
						<td><%= err[i].error %></td>
						<td><%= err[i].data %></td>
					</tr>
				<% }%>
			</table>
		<% } %>

		Your inventory :
		<!-- <div id="inventory"></div> -->
		<table id="inventory"></table>
		<script type="text/javascript">
			var inventory = <%-JSON.stringify(inventory)%>;
			var cpt=0;
			var table = document.getElementById('inventory');
			var row;
			for(var key in inventory.rgDescriptions){
				row = table.insertRow(cpt);
				console.log(inventory.rgDescriptions[key]);
				console.log(inventory.rgDescriptions[key].market_hash_name);
				var image = row.insertCell(0);
				image.innerHTML="<img class='weapons-image' src='http://steamcommunity-a.akamaihd.net/economy/image/"+ inventory.rgDescriptions[key].icon_url+"'/>";
				var item = row.insertCell(1);
				item.innerHTML=inventory.rgDescriptions[key].market_hash_name;
				// document.getElementById("inventory").innerHTML+=inventory.rgDescriptions[key].market_hash_name +"<br/>";
				cpt++;
			}
		</script>
	</div>

</body>
</html>